<!-- testimonial Section start-->
<section id="testimonial" class="testimonial">
  <div class="testimonial-decor">
    <div class="testi-circle1"><img src="assets/images/Testimonial2.png" alt=""></div>
    <div class="testi-circle2"><img src="assets/images/Testimonial1.png" alt=""></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- If images array is dynamically changing pass this array to [items] input -->
        <owl-carousel-o [options]="testimonialCarousel" class="testimonial-carousel">
          <ng-container *ngFor="let testimonials of testimonial">
            <ng-template carouselSlide>
              <div class="testimonial-block">
                <div class="testimonial-avtar">
                  <img [src]="testimonials.image" alt="">
                </div>
                <div class="testimonial-text">
                  <p>{{testimonials.description}}</p>
                  <h3>{{testimonials.name}}</h3>
                  <h6>{{testimonials.designation}}</h6>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- testimonial Section End -->